<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration core file-->
<configuration>


    <mappers>
        <mapper resource="com/icefaces/mapper/xml/RFncFunctionMapper.xml"/>
        <mapper resource="com/icefaces/mapper/xml/RUpfUserProfileMapper.xml"/>
        <mapper resource="com/icefaces/mapper/xml/UserProfileDAO.xml"/>
        <mapper resource="com/icefaces/mapper/xml/UsersMapper.xml"/>
        <mapper resource="com/icefaces/mapper/xml/AuthorizationMapper.xml"/>
        <!-- <package name="com.icefaces.mapper"/> mapper and xml MUST in same folder-->
    </mappers>
</configuration>
    