<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icefaces.mapper.AuthorizationMapper">
    <resultMap id="FunctionResultMap" type="com.icefaces.core.models.Function" >
        <result column="FNC_APPL_ID" jdbcType="VARCHAR" property="applId" />
        <result column="FNC_PARENT_FUNC_ID" jdbcType="VARCHAR" property="parentFuncId" />
        <result column="FNC_FUNC_ID" jdbcType="VARCHAR" property="funcId" />
        <result column="FNC_DESC" jdbcType="VARCHAR" property="description" />
        <result column="FNC_CREATE_DT" jdbcType="TIMESTAMP" property="created" />
        <result column="FNC_CREATE_USER" jdbcType="VARCHAR" property="createdBy" />
        <result column="FNC_MODIFY_DT" jdbcType="TIMESTAMP" property="lastModified" />
        <result column="FNC_MODIFY_USER" jdbcType="VARCHAR" property="lastModifiedBy" />
        <result column="FNC_FUNC_TYP" jdbcType="VARCHAR" property="funcType" />
        <result column="FNC_FUNC_SEQ" jdbcType="DECIMAL" property="funcSeq" />
        <result column="FNC_LINK" jdbcType="VARCHAR" property="link" />
        <result column="FNC_ONCLICK" jdbcType="VARCHAR" property="onclick" />
        <result column="FNC_SHOWN_ON_MENU" jdbcType="VARCHAR" property="shownOnMenu" />
        <result column="FNC_POP_UP" jdbcType="VARCHAR" property="popUp" />
        <result column="FNC_POP_UP_WIDTH" jdbcType="DECIMAL" property="popUpWidth" />
        <result column="FNC_POP_UP_HEIGHT" jdbcType="DECIMAL" property="popUpHeight" />
        <result column="FNC_PATH" jdbcType="VARCHAR" property="path" />
        <result column="FNC_PATH_PARAM" jdbcType="VARCHAR" property="pathParam" />
        <result column="FNC_SCREEN_ID" jdbcType="VARCHAR" property="screenId" />
        <result column="FNC_PROG_CLASS" jdbcType="VARCHAR" property="progClass" />
    </resultMap>


    <sql id="getAccGroupsByUserId">
        select
            AAG.AAG_ACC_GRP_ID
        from
            ${R_}UAD_USER_AD_GRP UAG
           , ${R_}ADG_AD_GRP ADG
           , ${R_}AAG_AD_GRP_ACC_GRP AAG
           , ${R_}ACG_ACC_GRP ACG
           , ${R_}UPF_USER_PROFILE UPF
        where
            UAG.UAD_USER_ID = #userId:VARCHAR#
			and UAG.UAD_AD_GRP_ID = ADG.ADG_AD_GRP_ID
			and ADG.ADG_AD_GRP_ID = AAG.AAG_AD_GRP_ID
			and AAG.AAG_ACC_GRP_ID = ACG.ACG_ACC_GRP_ID
			and UAG.UAD_USER_ID = UPF.UPF_USER_ID
			and ADG.ADG_VOID_STS = 'N'
			and ACG.ACG_VOID_STS = 'N'
			and UPF.UPF_STATUS = 'ACT'
        UNION
        select
            UAC.UAC_ACC_GRP_ID
        from
            ${R_}UAC_USER_ACC_GRP UAC
           , ${R_}ACG_ACC_GRP ACG
           , ${R_}UPF_USER_PROFILE UPF
        where
            UAC.UAC_USER_ID = #userId:VARCHAR#
			and UAC.UAC_ACC_GRP_ID = ACG.ACG_ACC_GRP_ID
			and UAC.UAC_USER_ID = UPF.UPF_USER_ID
			and ACG.ACG_VOID_STS = 'N'
			and UPF.UPF_STATUS = 'ACT'
        UNION
        select
            DRA.DRA_ACC_GRP_ID
        from
            ${R_}UPF_USER_PROFILE UPF
           , ${R_}DRA_DEPT_RANK_ACC_GRP DRA
           , ${R_}DEP_DEPT DEP
           , ${R_}RAN_RANK RAN
           , ${R_}DTR_DEPT_RANK DTR
           , ${R_}ACG_ACC_GRP ACG
        where
            UPF.UPF_DEPARTMENT = DEP.DEP_CODE
          and UPF.UPF_RANK = RAN.RAN_CODE
          and DEP.DEP_CODE = DTR.DTR_DEPT
          and RAN.RAN_CODE = DTR.DTR_RANK
          and DTR.DTR_DEPT = DRA.DRA_DEPT
          and DTR.DTR_RANK = DRA.DRA_RANK
          and ACG.ACG_ACC_GRP_ID = DRA.DRA_ACC_GRP_ID
          and DEP.DEP_VOID_STS = 'N'
          and RAN.RAN_VOID_STS = 'N'
          and DTR.DTR_VOID_STS = 'N'
          and UPF.UPF_STATUS = 'ACT'
          and ACG.ACG_VOID_STS = 'N'
          and UPF.UPF_USER_ID = #userId:VARCHAR#
    </sql>

    <select id="getFunctions" resultMap="FunctionResultMap" parameterType="java.util.HashMap" >
        select distinct
        a.*
        from
        ${R_}FNC_FUNCTION a
        , ${R_}FAG_FUNCTION_ACC_GRP b
        where
        a.FNC_APPL_ID = #applId:VARCHAR#
        and b.FAG_APPL_ID = a.FNC_APPL_ID
        and b.FAG_PARENT_FUNC_ID = a.FNC_PARENT_FUNC_ID
        and b.FAG_FUNC_ID = a.FNC_FUNC_ID
        and b.FAG_ACC_GRP_ID in (
        <include refid="getAccGroupsByUserId"/>
        )
        order by
        a.FNC_PARENT_FUNC_ID
        , a.FNC_FUNC_SEQ
    </select>
    <select id="isAuthorized" resultMap="FunctionResultMap" parameterType="java.util.HashMap" >
        select
        a.*
        from
        ${R_}FNC_FUNCTION a
        , ${R_}FAG_FUNCTION_ACC_GRP b
        where
        a.FNC_APPL_ID = #applId:VARCHAR#
        and a.FNC_FUNC_ID = #funcId:VARCHAR#
        and b.FAG_APPL_ID = a.FNC_APPL_ID
        and b.FAG_PARENT_FUNC_ID = a.FNC_PARENT_FUNC_ID
        and b.FAG_FUNC_ID = a.FNC_FUNC_ID
        and b.FAG_ACC_GRP_ID in (
        <include refid="getAccGroupsByUserId"/>
        )
        order by
        a.FNC_PARENT_FUNC_ID
        , a.FNC_FUNC_SEQ

    </select>

    <select id="getAccessRight" resultMap="FunctionResultMap" parameterType="java.util.HashMap" >
        select
        c.FNC_APPL_ID
        , c.FNC_PARENT_FUNC_ID
        , c.FNC_FUNC_ID
        , c.FNC_DESC
        , c.FNC_CREATE_DT
        , c.FNC_CREATE_USER
        , c.FNC_MODIFY_DT
        , c.FNC_MODIFY_USER
        , c.FNC_FUNC_TYP
        , c.FNC_FUNC_SEQ
        , c.FNC_LINK
        , c.FNC_ONCLICK
        , c.FNC_SHOWN_ON_MENU
        , c.FNC_POP_UP
        , c.FNC_POP_UP_WIDTH
        , c.FNC_POP_UP_HEIGHT
        , c.FNC_PATH
        , c.FNC_PATH_PARAM
        , c.FNC_SCREEN_ID
        , c.FNC_PROG_CLASS
        from
        ${R_}FNC_FUNCTION a
        , ${R_}FNC_FUNCTION c
        , ${R_}FAG_FUNCTION_ACC_GRP b
        where
        a.FNC_APPL_ID = #applId:VARCHAR#
        and a.FNC_PROG_CLASS = #className:VARCHAR#
        and a.FNC_FUNC_TYP = 'PROG'
        and c.FNC_PARENT_FUNC_ID = a.FNC_FUNC_ID
        and c.FNC_FUNC_TYP = 'ACTION'
        and b.FAG_APPL_ID = c.FNC_APPL_ID
        and b.FAG_PARENT_FUNC_ID = c.FNC_PARENT_FUNC_ID
        and b.FAG_FUNC_ID = c.FNC_FUNC_ID
        and b.FAG_ACC_GRP_ID in (
        <include refid="getAccGroupsByUserId"/>
        )
        union
        select
        distinct a.FNC_APPL_ID
        , a.FNC_FUNC_ID AS FNC_PARENT_FUNC_ID
        , a.FNC_FUNC_ID
        , a.FNC_DESC
        , a.FNC_CREATE_DT
        , a.FNC_CREATE_USER
        , a.FNC_MODIFY_DT
        , a.FNC_MODIFY_USER
        , a.FNC_FUNC_TYP
        , a.FNC_FUNC_SEQ
        , a.FNC_LINK
        , a.FNC_ONCLICK
        , a.FNC_SHOWN_ON_MENU
        , a.FNC_POP_UP
        , a.FNC_POP_UP_WIDTH
        , a.FNC_POP_UP_HEIGHT
        , a.FNC_PATH
        , a.FNC_PATH_PARAM
        , a.FNC_SCREEN_ID
        , a.FNC_PROG_CLASS
        from
        ${R_}FNC_FUNCTION a
        , ${R_}FAG_FUNCTION_ACC_GRP b
        where
        a.FNC_APPL_ID = #applId:VARCHAR#
        and a.FNC_PROG_CLASS = #className:VARCHAR#
        and a.FNC_FUNC_TYP = 'PROG'
        and b.FAG_APPL_ID = a.FNC_APPL_ID
        and b.FAG_PARENT_FUNC_ID = a.FNC_PARENT_FUNC_ID
        and b.FAG_FUNC_ID = a.FNC_FUNC_ID
        and b.FAG_ACC_GRP_ID in (
        <include refid="getAccGroupsByUserId"/>
        )
    </select>



</mapper>