
.red {
    font-size: 18px;
    color: red;
    font-family: Arial, '汉仪行楷简', system-ui;
    line-height: 300%;
    font-weight: bold;
    text-align: center;
}

.blueviolet {
    font-size: 18px;
    color: blueviolet;
    font-family: Arial, '汉仪行楷简', system-ui;
    line-height: 300%;
    font-weight: bold;
    text-align: center

}

